<!-- <div class="slayerCards">
    <div *ngFor="let assignment of this.assignments | keyvalue">
        <app-gm-slayer-summary [player]="assignment.key" [slayer]="assignment.value" class="individualCard"></app-gm-slayer-summary>
    </div>
</div> -->
<div class="slayerCards">
    <div *ngFor="let player of players | keyvalue">
        <div class="playerBar">
            <p>{{player.value.displayName}} ({{player.value.id}})</p>
            <div class="chekhov">
                <p>Chekhov:</p>
                <button  (click)="alterChekhovPoints(player.key, -1)">-</button>
                <p>{{player.value.chekhovPoints}}</p>
                <button  (click)="alterChekhovPoints(player.key, 1)">+</button>    
            </div>
        </div>
        <app-gm-slayer-summary [player]="player.value" [playerIx]="player.key" class="individualCard"></app-gm-slayer-summary>
    </div>
</div>

<div class="players">
    <div class="player" *ngFor="let player of players | keyvalue">
        <p>{{player.value.displayName}}</p>
        <p>{{player.value.id}}</p>
    </div>
</div>

<div class="roster">
    <div class="slayer" *ngFor="let slayer of roster">
        <p>{{slayer.name}}</p>
        <p>{{slayer.class}}</p>
        <p>{{slayer.currentHP}}/{{slayer.maxHP}}</p>
        <input type="text" #hpdelta>
        <button (click)="sendHPDelta(slayer, hpdelta.value)">HP Delta</button>
    </div>
</div>
