<button (click)="sendTakeDamage(1)">Take Damage</button>
<button (click)="sendTakeDamage(-1)">Heal Damage</button>
<button (click)="sendSaveCampaign()">Save Campaign</button>
<!-- <button (click)="addDefaultRoster()">Add Default Roster</button> -->


<div class="players">
    <div class="player" *ngFor="let player of players | keyvalue">
        <p>{{player.value.displayName}}</p>
        <p>{{player.value.id}}</p>
    </div>
</div>

<div class="roster">
    <div class="slayer" *ngFor="let slayer of roster">
        <p>{{slayer.name}}</p>
        <p>{{slayer.class}}</p>
        <p>{{slayer.currentHP}}/{{slayer.maxHP}}</p>
        <input type="text" #hpdelta>
        <button (click)="sendHPDelta(slayer, hpdelta.value)">HP Delta</button>
    </div>
</div>
<div class="slayerCards">
    <div *ngFor="let assignment of this.assignments | keyvalue">
        <app-gm-slayer-summary [player]="assignment.key" [slayer]="assignment.value" class="individualCard"></app-gm-slayer-summary>
    </div>
</div>