.crossDrop {
  // display: flex;
  max-height: 100vh
}
.slayerCards {
    // max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: scroll;

}

.bottomHalf {
  display: flex;
  justify-content: start;
}

.playerCard {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 5px;
}

.individualCard {
    margin: 0px 20px;
    max-width: 500px;
    min-width: 500px;
    padding: 10px;
}

.playerBar {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    p {
        margin: 0px 10px;
    }
    .chekhov {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.rostersSection {
  .roster {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px;
    height: 200px;
    overflow-y: scroll;
    margin: 10px 0px;

    .slayer {
      border: 1px solid rosybrown;
      border-radius: 2px;
      margin: 4px 0px;

    }
  }
}

.cdk-drop-list-receiving {
  border: 4px dashed darkred;
}

.characterCreation {
  display: flex;
  flex-direction: column;
}