<!-- <div class="plans">
    <p>plans: <span class="plan" *ngFor="let plan of slayer.plans">{{plan}} </span></p>
</div> -->
<div class="topRow">
    <div class="shootStab topOption"><p>Shoot/Stab</p></div>
    <div class="roll topOption" *ngIf="hasRally"><p>Roll Plan</p></div>
</div>
<div class="controlsRow" cdkDropListGroup>
    <div class="plansDisplay" cdkDropList (cdkDropListEntered)="enter('neutral')">
        <div class="plan" cdkDrag [cdkDragData]="plan" cdkDragPreviewContainer="parent"  cdkDragBoundary=".controlsRow" *ngFor="let plan of slayer.plans">
            {{plan}}
            <div class="plan-preview" [ngClass]="mode" *cdkDragPreview >{{plan}}</div>
            <div class="plan-placeholder" *cdkDragPlaceholder></div>
        </div>
    </div>
    <div class="controlRightHalf">
        <div class="actions" >
            <div id="add" cdkDropList (cdkDropListEntered)="enter('add')" *ngIf="this.hasShift" class="action"><p>Add</p></div>
            <div id="swap" cdkDropList (cdkDropListEntered)="enter('swap')"  class="action"><p>Swap</p></div>
            <div id="subtract" cdkDropList (cdkDropListEntered)="enter('subtract')" *ngIf="this.hasShift" class="action"><p>Sub</p></div>
        </div>
        <div class="recentRolls">
            <div class="recentRoll" cdkDropList (cdkDropListDropped)="dropRoll($event, recentRoll)" *ngFor="let recentRoll of recentRolls">
                <p>{{recentRoll.actor}}: {{recentRoll.rollName}}</p>
                <p>{{recentRoll.value}}</p>
            </div>
        </div>    
    </div>
</div>