<!-- <div class="plans">
<p>plans: <span class="plan" *ngFor="let plan of slayer.plans">{{plan}} </span></p>
</div> -->
<div class="topRow">
  <div class="topOptions">
    <div class="topOption">
      <div class="optionBox shootStab">
        <p>Shoot/Stab</p>

      </div>
    </div>
    @if (hasRally) {
      <div class=" topOption">
        <div class="optionBox rollRally">
          <p>Roll Plan</p>
        </div>
      </div>
    }
  
  </div>  <div class="planRoller topOptions">
    <div class="diecontrol totalPlans" (click)="resetPlans()">
      <div class="dieIcon"></div>
      <div class="dieLabel">{{planningRollsTotal}}</div>
    </div>
    @if (hasWeaken){
      <div class="diecontrol deeFours" (click)="adjustPlanRoll(1,0,0)">
        <div class="dieIcon"></div>
        <div class="dieLabel"></div>
      </div>  
    }
    <div class="diecontrol deeSixes">
      <div class="dieIcon"></div>
      <div class="dieLabel"></div>
    </div>
    @if (hasEmpower){
      <div class="diecontrol deeEights">
        <div class="dieIcon"></div>
        <div class="dieLabel"></div>
      </div>  
    }
    <div class="rollPlans">
      <p>Roll Plans</p>
    </div>
  </div>

</div>
<div class="controlsRow" cdkDropListGroup>
  <div class="plansDisplay" cdkDropListSortingDisabled cdkDropList (cdkDropListEntered)="enter('neutral')">
    @for (plan of slayer.plans; track $index) {
      <div class="plan" cdkDrag [cdkDragData]="plan" cdkDragPreviewContainer="parent"  cdkDragBoundary=".controlsRow">
        {{plan}}
        <div class="plan-preview" [ngClass]="mode" *cdkDragPreview >{{plan}}</div>
        <div class="plan-placeholder" *cdkDragPlaceholder></div>
      </div>
    }
  </div>
  <div class="controlRightHalf">
    <div class="actions" >
      @if (this.hasShift || this.hasStrategist) {
        <div id="add" cdkDropList (cdkDropListEntered)="enter('add')" class="action"><p>Add</p></div>
      }
      @if (!this.hasShift || this.hasStrategist){
        <div id="swap" cdkDropList (cdkDropListEntered)="enter('swap')"  class="action"><p>Swap</p></div>
      }
      @if (this.hasShift || this.hasStrategist) {
        <div id="subtract" cdkDropList (cdkDropListEntered)="enter('subtract')" class="action"><p>Sub</p></div>
      }
    </div>
    <div class="recentRolls">
      @for (recentRoll of recentRolls; track $index; let ix = $index) {
        <div class="recentRoll" cdkDropList (cdkDropListDropped)="dropRoll($event, ix, recentRoll)">
          <p>{{recentRoll.actor}}: {{recentRoll.rollName}}</p>
          <p>{{recentRoll.value}}</p>
        </div>
      }
    </div>
  </div>
</div>
