:host {
    padding: 10px;
    display:block;
}

.playerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0px 10px;
    }
    .chekhov {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.slayerDisplay {
    .commonElements{
        .statsRow {
            display: flex;
            justify-content: space-between;

            .hp {

            }
        }

        .skillsRow {
            display: flex;
            flex-wrap: wrap;
        }
    }
}