:host {
    padding: 10px;
    display:block;
    min-height: 200px;

}



.slayerDisplay {
    .commonElements{
        .statsRow {
            display: flex;
            justify-content: space-between;

            .hpSection {
                display: flex;

                .hpModSection {
                    display: flex;
                    align-items: start;
                    .smallInput {
                        width: 2rem;
                    }
                }
            }
        }

        .skillsRow {
            display: flex;
            flex-flow: column wrap;
            max-height: 100px;
            // flex-wrap: wrap;
            p {
                margin: 0px 5px;
            }

            .skillRow {
                display: flex;
                justify-content: start;

                .skillButtons{
                    display: flex;
                    flex-direction: row;
                }
            }

            .speedSection {
                margin: 10px 0px;
                border: 1px solid black;
                border-radius: 2px;
                padding: 5px;
                box-sizing: content-box;
            }
        }
    }
}

.noSlayerDisplay {
  border: 1px solid rosybrown;
  border-radius: 5px;
  height: 100%;
}

.classSpecific {
    margin-top: 10px;
    border-top: 1px solid darkred;
    padding-top: 10px;
    width: 100%;
}