@use "@angular/material" as mat;

:host {
  @include mat.expansion-overrides((
    container-background-color: #CF9FFF,
  ));
}

#corruptionAndFavoredSpellSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  // padding-bottom: 10px;
  border-bottom: 1px solid gray;

  #corruptionSection {
    width: 100px;
  }

}
.corruption{
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 2px;
  min-height: 64px;
  position: relative;
  border-right: 1px solid gray;
    .sectionLabel {
      font-family: "sarina";
      color: gray;
      position:absolute;
      left: 0;
      bottom: -5px;
    }

  &-segment {
    width: 10px;
    height: 50px;
    background-color: cyan;
    border: 1px solid white;
    border-radius: 2px;
    margin: 2px 1px;
  }

  &-healthbar {
    // margin: 10px 10px;
    // box-sizing: content-box;
    // border-bottom: 1px solid gray;

    padding: 5px 5px 15px 5px;
    position: relative;
    width: 98%;
    height: 30px;
    // display: flex;
    // justify-content: start;

    &-barcontent {
      position: absolute;
      background-color: cyan;
    /*   border: 1px solid gray; */
      flex: 1 1 auto;
      transform: skewX(-20deg);
    /*   margin: 0px 10px; */
      top: 20%;
      bottom: 20%;
      left: 0;
      right: 0;
      }
      &-segment {
        background-color: black;
        // height: 90%;
      /*   transform: skewX(-20deg); */
        width: 6px;
        position: absolute;
        transform: skewX(-20deg);
        top:20%;
        bottom:20%;

      }
      &-segment.halfhp {
        background-color: teal;
        width: 4px;
        top: 10%;
        bottom: 10%;
      }


    }

}

#spellbookSection {
  overflow-y: scroll;
  max-height: calc(100vh - 380px);

  .enhancedSpell {
    background-color: #F2F2F3;
  }
}
.spellPanel {
  margin: 0px 10px 10px 10px;

  .castSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .castButton {

  }
}

.spellIcon {
  height: 80px;
  padding: 3px;
  border: 2px solid gray;
  border-radius: 2px;
  flex-grow: 0;
}

#favoredSpellSection{
  position:relative;
  .favoredSpellLabel {
    font-family: "sarina";
    color: gray;
    position:absolute;
    left: 3px;
    bottom: -5px;
    width: 200px;
  }
  .favoredSpellName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30pt;
  }
}




// .spellPanel {
//   height: 100px;
// }
