<div class="corruption-healthbar">
  <div class="corruption-healthbar-barcontent"></div>
    @for (_ of [].constructor(6 + 1);let ix = $index;  track $index){
      <div  class="corruption-healthbar-segment" [style.left]="'calc('+100*(ix)/6 +'%)'"></div>
    }
</div>
 <div id="favoredSpellSection">
  <mat-form-field>
    <mat-label>{{this.slayer.favoredSpell}}</mat-label>
    <mat-select [(value)]="this.slayer.favoredSpell" #favoredSpellSelect (valueChange)="updateFavoredSpell(favoredSpellSelect.value)">
      @for (spell of slayer.knownSpells; track spell.name){
        <mat-option [value]="spell" class="favoredSpellOption">{{spell.name | titlecase}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
 </div>
 <div id="spellbookSection">
  @for (spell of slayer.knownSpells; track spell.name){
    <div class="spellOption"></div>

  }
 </div>
