<div id="corruptionAndFavoredSpellSection">
  <div id="corruptionSection">
    <div class="corruption">
      <p class="sectionLabel">corruption</p>

            @for (_ of [].constructor(this.slayer.corruption);let ix = $index;  track $index){
        <div  class="corruption-segment"></div>
      }
    </div>
  </div>
   <div id="favoredSpellSection" cdkDropList #favoredSpellDrop="cdkDropList" (cdkDropListDropped)="updateFavoredSpell($event.item.data)">
    <p class="favoredSpellLabel">favored spell</p>
    @if (slayer.favoredSpell){
      <!-- <img class="favoredIcon" [src]="this.cs.storageURLBase + this.spellIconURLBase + favoredSpellSpellId + '.png'"> -->
      <p class="favoredSpellName">{{slayer.favoredSpell}}</p>
    }

  <!-- <mat-form-field>
    <mat-label>{{this.slayer.favoredSpell}}</mat-label>
    <mat-select [(value)]="this.slayer.favoredSpell" #favoredSpellSelect (valueChange)="updateFavoredSpell(favoredSpellSelect.value)">
      @for (spell of slayer.knownSpells; track spell.name){
        <mat-option [value]="spell" class="favoredSpellOption">{{spell.name | titlecase}}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->
 </div>
</div>


 <div id="spellbookSection">
  @for (spell of slayer.knownSpells; track spell.name){
    <mat-expansion-panel class="spellPanel" [ngClass]="{'enhancedSpell': spell.enhanced}" hideToggle>
      <mat-expansion-panel-header collapsedHeight="120px" expandedHeight="110px" class="spellHeaderName" [ngClass]="{'enhancedSpell': spell.enhanced}">
        <mat-panel-title>
          <img cdkDrag [cdkDragData]="spell" class="spellIcon" [src]="this.cs.storageURLBase + this.spellIconURLBase + spell.spellId + '.png'">
        </mat-panel-title>
        <mat-panel-description>
          <p>{{spell.name}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><strong>Base: </strong>{{spell.effect}}</p>
      <p><strong>Range: </strong>{{spell.range}}</p>
      <p><strong>Boost: </strong>{{spell.boostedEffect}}</p>
      <p><strong>Enhance: </strong>{{spell.enhancedEffect}}</p>
      <div class="castSection">
        <div class="boostSection">
          <p><mat-slide-toggle #boostToggle>Boost</mat-slide-toggle></p>
        </div>
        <div class="CastDNASection">
          <mat-button-toggle-group [multiple]="false" #DNAToggle="matButtonToggleGroup" name="DNA" >
            <mat-button-toggle value="D">D</mat-button-toggle>
            <mat-button-toggle value="N">N</mat-button-toggle>
            <mat-button-toggle value="A">A</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <button matButton="filled" class="castButton" (click)="castSpell(spell, boostToggle.checked, DNAToggle.selected); boostToggle.checked = false; ">Cast!</button>
      </div>

    </mat-expansion-panel>

  }
 </div>
