
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/dist/border.css';

.tippy-content {
  position: relative;
}

.tippy-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  right: 9px;
  fill: rgb(158, 160, 165);
  cursor: pointer;
  z-index: 1;
}

.tippy-box {
  border-radius: 4px;
  font-size: 1rem;

  .tippy-content {
    padding: 4px 6px;
  }
}

.tippy-box[data-theme~='light'] {
  font-size: 12px;
  word-break: break-word;
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  color: rgb(79, 80, 83);

  .tippy-content {
    padding: 13px 48px 13px 20px;
  }
}

.tippy-arrow::before {
  box-shadow: -4px 4px 14px -4px rgba(0, 0, 0, 0.2);
}

.tippy-box[data-theme~='darkBorder'] {
  border: 1px solid white;
  background: black;
  color: white;
  
  .tippy-box[data-theme~='darkBorder'][data-placement^='top'] > .tippy-arrow::before {
      box-shadow: black;

  }
  .tippy-box[data-theme~='darkBorder'][data-placement^='bottom'] > .tippy-arrow::before {
      box-shadow: black;

  }
  .tippy-box[data-theme~='darkBorder'][data-placement^='left'] > .tippy-arrow::before {
      box-shadow: black;

  }
  .tippy-box[data-theme~='darkBorder'][data-placement^='right'] > .tippy-arrow::before {
      box-shadow: black;

  }
}

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "sarina";
    src: url("/assets/fonts/sarina/Sarina-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "trickr-logo";
    src: url("/assets/fonts/trickr-logo/TrickrLogo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vipnagorgialla";
    src: url("/assets/vipnagorgialla/Vipnagorgialla\ Rg.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

// html {
//     background-color: black;
//     color: white;
// }

* {
        box-sizing: border-box;
        margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
