<div class="topHalf">
  <div cdkDropList id="newPlans" [cdkDropListConnectedTo]="[currentPlans]" #newPlans="cdkDropList" class="newPlans">
    @for (planVal of [1,2,3,4,5,6]; track planVal) {
      <div cdkDrag [cdkDragData]="planVal" class="newPlan">
        {{planVal}}
      </div>
    }
  </div>
  <p>Draggable contingencies</p>
</div>
<div class="divider"></div>
<div class="bottomHalf">
  <p>Current contingencies:</p>
  <div cdkDropList (cdkDropListDropped)="addPlan($event)" [cdkDropListConnectedTo]="[newPlans]" id="currentPlans" #currentPlans="cdkDropList" class="plans">
    <mat-chip-set #chipGrid>
      @for (plan of slayer.plans.toArray(); track plan; let ix = $index) {
        <mat-chip cdkDrag>
          {{plan}}
          <button matChipRemove (click)="removePlan(ix)"><mat-icon>cancel</mat-icon></button>
        </mat-chip>
      }

    </mat-chip-set>
  </div>
</div>
