<div class="topRow">
    <div class="topRowSection fireSection">
        <p>Spray Lead</p>
    </div>
</div>
<div class="stagingArea">
    @for (stagedRound of stagedRounds; track $index){
        <div class="stagedRound">R</div>
    }
</div>
<div class="controlsRow">
    <div class="leftSide">
        <div class="chambers">
            <img class="revolverChambers" src="/assets/shapes/revolver-chambers-grey.png">
            @if (slayer.chamber1Loaded){
                <div class="chamber chamberOne" [ngClass]="slayer.chamber1Loaded ? 'loadedChamber' : 'unloadedChamber'" >
                    @if(slayer.chamber1Rune != ERunes.None){
                        <img class="rune" [ngClass]="slayer.chamber1Loaded ? 'loaded' : 'unloaded'" [src]="'/assets/shapes/' + slayer.chamber1Rune + '.svg'">
                    }
                </div>    
            }
            <div class="chamber chamberTwo" [ngClass]="slayer.chamber2Loaded ? 'loadedChamber' : 'unloadedChamber'">
                @if(slayer.chamber2Rune != ERunes.None){
                    <img class="rune" [ngClass]="slayer.chamber2Loaded ? 'loadedRune' : 'unloadedRune'" [src]="'/assets/shapes/' + slayer.chamber2Rune + '.svg'">
                }
            </div>
            <div class="chamber  chamberThree" [ngClass]="slayer.chamber3Loaded ? 'loadedChamber' : 'unloadedChamber'">
                @if(slayer.chamber3Rune != ERunes.None){
                    <img class="rune" [ngClass]="slayer.chamber3Loaded ? 'loadedRune' : 'unloadedRune'" [src]="'/assets/shapes/' + slayer.chamber3Rune + '.svg'">
                }
            </div>
            <div class="chamber  chamberFour" [ngClass]="slayer.chamber4Loaded ? 'loadedChamber' : 'unloadedChamber'">
                @if(slayer.chamber4Rune != ERunes.None){
                    <img class="rune"  [ngClass]="slayer.chamber4Loaded ? 'loadedRune' : 'unloadedRune'" [src]="'/assets/shapes/' + slayer.chamber4Rune + '.svg'">
                }
            </div>
            <div class="chamber chamberFive" [ngClass]="slayer.chamber5Loaded ? 'loadedChamber' : 'unloadedChamber'">
                @if(slayer.chamber5Rune != ERunes.None){
                    <img class="rune" [ngClass]="slayer.chamber5Loaded ? 'loadedRune' : 'unloadedRune'" [src]="'/assets/shapes/' + slayer.chamber5Rune + '.svg'">
                }
            </div>
            <div class="chamber chamberSix" [ngClass]="slayer.chamber6Loaded ? 'loadedChamber' : 'unloadedChamber'">
                @if(slayer.chamber6Rune != ERunes.None){
                    <img class="rune" [ngClass]="slayer.chamber6Loaded ? 'loadedRune' : 'unloadedRune'" [src]="'/assets/shapes/' + slayer.chamber6Rune + '.svg'">
                }
            </div>
        </div>
        <div class=" reloadSection">
            <p>Reload</p>
        </div>    
    </div>
</div>