@let slayer = cs.slayer;
<div class="slayerDefined" *ngIf="slayer">
    <div class="topHalf">
        <div class="title">
            <p class="slayerClass">{{slayer.class}}</p>
            <p class="slayerName">{{slayer.name}}</p>
        </div>

        <div class="healthbar"> 
          <div class="barcontent"> 
          </div>
          <!-- <div class="gutters"> -->
              <div *ngFor="let _ of [].constructor(slayer.maxHP + 1); let ix = index" class="segment" [style.left]="'calc('+100*(ix)/slayer.maxHP+'%)'"></div>
              <div class="segment halfhp" [style.left]="'calc(50% + 1px)'"></div>
          <!-- </div> -->
        </div>
        <div class="misc">
            <div class="speed stackedStat" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Speed', size: slayer.speed}" tpVariation="popover" tpTrigger="click">
                <p class="statName">Speed</p>
                <p class="statNumber">d{{slayer.speed}}</p>
            </div>
            <div class="damage stackedStat">
                <p class="statName">dmg</p>
                <p class="statNumber">{{slayer.damage}}</p>
            </div>
            <div class="chekhov stackedStat">
                <p class="statName">Chekhov</p>
                <p class="statNumber">{{cs.player?.chekhovPoints}}</p>
            </div>
        </div>
        <div class="skills">
            <!-- <div class="skillsLabel">
                <p>Skills</p>
            </div> -->
            <div class="skill" [tp]="Roller" [tpInteractive]="true" [tpData]="{name: 'Agile', size: slayer.skillsAgile}" tpVariation="popover" tpTrigger="click">
                <ng-template #rollerPopover let-name let-size>
                    <app-roller name="Agile" [size]="slayer.skillsAgile"></app-roller>
                </ng-template>
                <img src="/assets/shapes/{{slayer.skillsAgile}}.svg">
                <p class="skillName agile">Agile</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Brawn', size: slayer.skillsBrawn}" tpVariation="popover" tpTrigger="click">
                <ng-template #rollerPopover let-name let-size>
                    <app-roller name="Brawn" [size]="slayer.skillsBrawn"></app-roller>
                </ng-template>
                 <img src="/assets/shapes/{{slayer.skillsBrawn}}.svg">
                <p class="skillName">Brawn</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Deceive', size: slayer.skillsDeceive}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsDeceive}}.svg">
                <p class="skillName deceive">Deceive</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Hunt', size: slayer.skillsHunt}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsHunt}}.svg">
                <p class="skillName hunt">Hunt</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Mend', size: slayer.skillsMend}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsMend}}.svg">
                <p class="skillName">Mend</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Negotiate', size: slayer.skillsNegotiate}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsNegotiate}}.svg">
                <p class="skillName negotiate">Negotiate</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Street', size: slayer.skillsStreet}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsStreet}}.svg">
                <p class="skillName">Street</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Stealth', size: slayer.skillsStealth}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsStealth}}.svg">
                <p class="skillName">Stealth</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Study', size: slayer.skillsStudy}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsStudy}}.svg">
                <p class="skillName">Study</p>
            </div>
            <div class="skill" [tp]="rollerPopover" [tpInteractive]="true" [tpData]="{name: 'Tactics', size: slayer.skillsTactics}" tpVariation="popover" tpTrigger="click">
                <img src="/assets/shapes/{{slayer.skillsTactics}}.svg">
                <p class="skillName">Tactics</p>
            </div>
            <!-- <div class="skill">Brawn: {{slayer.skillsBrawn}} </div>
            <div class="skill">Deceive: {{slayer.skillsDeceive}} </div>
            <div class="skill">Hunt: {{slayer.skillsHunt}} </div>
            <div class="skill">Mend: {{slayer.skillsMend}} </div>
            <div class="skill">Negotiate: {{slayer.skillsNegotiate}} </div>
            <div class="skill">Street: {{slayer.skillsStreet}} </div>
            <div class="skill">Stealth: {{slayer.skillsStealth}} </div>
            <div class="skill">Study: {{slayer.skillsStudy}} </div>
            <div class="skill">Tactics: {{slayer.skillsTactics}} </div> -->
        </div>


        <div class="advances">
            <div class="advance" *ngFor="let advance of slayer.advances.toArray()">
                <ng-template class="advancePopover" #advancePopover>{{advance.desc}}</ng-template>
                <p [tp]="advancePopover" tpVariation="popover" tpTrigger="click" class="advanceName">{{advance.name}}</p>
            </div>
        </div>
        <div class="bladeData" *ngIf="slayer.class == playbooks.Blade">
            @let castSlayer = slayer | asBlade;
            <div class="stance">
                <p>Stance: {{castSlayer.stance}}</p>
                <p>{{castSlayer.weaponNumber}}d{{castSlayer.weaponSides}}</p>
            </div>
        </div>
        <div class="gunslingerData" *ngIf="slayer.class == playbooks.Gunslinger">
            @let castSlayer = slayer | asGunslinger;
            <div class="chambers">
                <div class="chamber1">
                    <p>1: <span *ngIf="castSlayer.chamber1Rune != 'none'">{{castSlayer.chamber1Rune}}: </span>{{castSlayer.chamber1Loaded}}</p>
                </div>
                <div class="chamber1">
                    <p>2: <span *ngIf="castSlayer.chamber2Rune != 'none'">{{castSlayer.chamber2Rune}}: </span>{{castSlayer.chamber2Loaded}}</p>
                </div>
                <div class="chamber1">
                    <p>3: <span *ngIf="castSlayer.chamber3Rune != 'none'">{{castSlayer.chamber3Rune}}: </span>{{castSlayer.chamber3Loaded}}</p>
                </div>
                <div class="chamber1">
                    <p>4: <span *ngIf="castSlayer.chamber4Rune != 'none'">{{castSlayer.chamber4Rune}}: </span>{{castSlayer.chamber4Loaded}}</p>
                </div>
                <div class="chamber1">
                    <p>5: <span *ngIf="castSlayer.chamber5Rune != 'none'">{{castSlayer.chamber5Rune}}: </span>{{castSlayer.chamber5Loaded}}</p>
                </div>
                <div class="chamber1">
                    <p>6: <span *ngIf="castSlayer.chamber6Rune != 'none'">{{castSlayer.chamber6Rune}}: </span>{{castSlayer.chamber6Loaded}}</p>
                </div>
            </div>
        </div>
        <div class="arcanistData" *ngIf="slayer.class == playbooks.Arcanist">
            @let castSlayer = slayer | asArcanist;
            <div class="stance">
                <p>Corruption: {{castSlayer.corruption}}</p>
            </div>
            <div class="favoredSpell">
                <p>Favored Spell: {{castSlayer.favoredSpell}}</p>
            </div>
            <div class="knownSpells">
                <p *ngFor="let knownSpell of castSlayer.knownSpells">{{knownSpell | json}}</p>
            </div>
        </div>
        <div class="tacticianData" *ngIf="slayer.class == playbooks.Tactician">
            @let castSlayer = slayer | asTactician;
            <div class="plans">
                <p>plans: <span class="plan" *ngFor="let plan of castSlayer.plans">{{plan}} </span></p>
            </div>
        </div>

    </div>
    <div class="bottomHalf">

    </div>
</div>
<div class="slayerUndefined" *ngIf="!cs.slayer">
    <p>No Slayer assigned</p>
</div>